<section id="deleteMood">
<h2>delete<strong>Mood</strong></h2>
<p>are you sure you wanna do that?</p>
<div id="delete_btns">
  <a href="/" target="_self"><span id="noIcon"></span>NOPE</strong></a>
  <a href="/remove/<%= mood_delete.createdAt %>" target="_self"><strong>YEET</strong>it<span id="yesIcon"></span></a>
</div>
</section>

<% console.log(mood_delete)%>