<section id="deleteMood">
<h2>delete<strong>Mood</strong></h2>
<p>are you sure you wanna do that?</p>
<div id="delete_btns">
  <span id="noBtn"><a href="/" target="_self"><span class="icon" id="noIcon"></span>NOPE</strong></a></span>
  <span id="yesBtn"><a href="/remove/<%= mood_delete.createdAt %>" target="_self"><span class="icon" id="yesIcon"></span><strong>YEET</strong>&nbsp;it</a></span>
</div>
</section>

<% console.log(mood_delete)%>