<header>
  
  <h1>Mia<strong>Mood</strong></h1>

  <nav>
    <div id="navIcons">
      <span class="nav_icon" id="latestMoods"><a href="/" target="_self"></a></span>
      <span class="nav_icon" id="calendar"></span>
      <span class="nav_icon" id="allMoods"><a href="/allMoods" target="_self"></a></span>
      <span class="nav_icon" id="newMood"><a href="/newMood" target="_self"></a></span>
    </div>
    
    <div id="nav_hint"></div>

  </nav>

</header>

<div class="spacer-5"></div>