<header>
  <h1>Mia<strong>Mood</strong></h1>

  <nav>
    <span class="nav_icon" id="latestMoods"><a href="/" target="_self"></a></span>
    <span class="nav_icon"></span>
    <span class="nav_icon" id="allMoods"><a href="/allMoods" target="_self"></a></span>
    <span class="nav_icon" id="newMood"><a href="/newMood" target="_self"></a></span>

    <div id="nav-hint">mood/LATEST</div>

  </nav>
</header>

<div class="spacer-5"></div>