<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('components/head'); %>

  <title>MiaMood</title>
</head>

<body>

  <%- include('components/header'); %>

  <main>

    <%- include ('components/moods'); %>

  </main>

  <%- include('components/footer'); %>

  <script src="/JS/script_allMoods.js"></script>

</body>

</html>