<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include ('components/head'); %>

  <title>MiaMood | LATEST</title>

</head>

<body>

  <div class="horizontalSpacer">

    <% if (message) { %>

    <section id="message">
      <span class="icon" id="messageIcon"></span>
      <span id="messageText"><%= message %></span>
    </section>

    <% } %>

  </div>

  <%- include ('components/header'); %>

  <div id="containerA">

    <aside id="pageTitle">

      <h2>mood/<span>LATEST</span></h2>

    </aside>

    <section id="contentA">

      <%- include ('components/moods'); %>

    </section>

  </div>

  <div id="containerB">



  </div>

  <script src="/JS/script.js"></script>

</body>

</html>