<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/CSS/style.css">

    <title>MiaMood</title>
</head>

<body>

    <header>
        <h1>Mia<strong>Mood</strong></h1>

        <nav>
            <span class="nav_icon"></span>
            <span class="nav_icon"></span>
            <span class="nav_icon"></span>

            <div id="nav-hint">mood/byDATE</div>

        </nav>
    </header>

    <div class="spacer-10"></div>

    <main>

        <section id="moods">

            <article class="mood_container simple_mood orange">

                <div class="mood_icon"></div>
                <div class="mood_text">03.29.22 @ 08:46 PM</div>

                <div class="mood_options">

                    <div class="edit"></div>
                    <div class="delete"></div>

                </div>

            </article>

            <article class="mood_container note_mood green">

                <div class="mood_icon"></div>
                <div class="mood_text">03.29.22 @ 08:46 PM</div>

                <div class="mood_options">

                    <div class="details"></div>
                    <div class="edit"></div>
                    <div class="delete"></div>

                </div>

                <div class="mood_note">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit autem voluptatem deleniti rerum nulla praesentium esse fugit voluptates voluptate quam.
                </div>

            </article>

        </section>

    </main>

    <div class="spacer-5"></div>

    <footer>footer</footer>

</body>

</html>