<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('components/head'); %>

  <title>MiaMood | noMOOD</title>

</head>

<body>

  <div class="horizontalSpacer"></div>

  <%- include ('components/header'); %>

  <div id="containerA">

    <aside id="pageTitle">

      <h2>no/<span>MOOD</span></h2>

    </aside>

    <section id="contentA">

      <section id="noMood">

        <h2>no<strong>MOOD</strong></h2>

        <p>looks like you've been a lazy little piece of shit and didn't log any moods today, huh?</p>

        <div id="noMoodBtns">

          <span id="addBtn"><a href="/newMood" target="_self">new<strong>MOOD</strong><span class="icon btnIcon" id="addIcon"></span></a></span>

        </div>

      </section>

      </article>

    </section>

  </div>

  <div id="containerB">

  </div>

  <script src="/JS/script.js"></script>
  <script src="/JS/updateMood_script.js"></script>

</body>

</html>