<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/CSS/newLayout_style.css">
  <link rel="icon" href="/IMG/favicon.png">


  <title>MiaMood | ALL</title>

</head>

<body>

  <div class="horizontalSpacer"></div>

  <header>

    <h1>Mia<span>Mood</span></h1>

    <nav>

      <div id="navIcons">
        <span class="icon navIcon" id="latestMoods"><a href="/" target="_self"></a></span>
        <span class="icon navIcon" id="calendar"><a href="/byDate" target="_self"></a></span>
        <span class="icon navIcon" id="allMoods"><a href="/allMoods" target="_self"></a></span>
        <span class="icon navIcon" id="newMood"><a href="/newMood" target="_self"></a></span>
      </div>

      <div id="navHint"></div>

    </nav>
  </header>

  <div id="containerA">

    <aside id="pageTitle">

      <h2>mood/<span>OOPS</span></h2>

    </aside>

    <section id="contentA">

      <section id="oops">

        <h2>OH<strong>FUCK</strong>!</h2>

        <p>something that shouldn't have happened... happened.</p>

        <a href="/" target="_self"><a href="/" target="_self">go<strong>HOME</strong><span class="icon" id="homeIcon"></span></a></a>
        
    </section>

    </section>

  </div>

  <div id="containerB">

  </div>

  <script src="/JS/script.js"></script>

</body>

</html>