<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('components/head'); %>

  <title>MiaMood | OOPS</title>

</head>

<body>

  <div class="horizontalSpacer"></div>

  <%- include ('components/header'); %>

  <div id="containerA">

    <aside id="pageTitle">

      <h2>mood/<span>OOPS</span></h2>

    </aside>

    <section id="contentA">

      <section id="oops">

        <h2>OH<strong>FUCK</strong>!</h2>

        <p>something that shouldn't have happened... happened.</p>

        <div id="oopsBtns">

        <span id="homeBtn"><a href="/" target="_self">go<strong>HOME</strong><span class="icon btnIcon" id="HomeIcon"></span></a></span>

        </div>

      </section>

    </section>

  </div>

  <div id="containerB">

  </div>

  <script src="/JS/script.js"></script>

</body>

</html>