<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('components/head'); %>

  <title>MiaMood</title>
</head>

<body>

  <header>
    <%- include('components/header'); %>
  </header>

  <div class="spacer5"></div>

  <main>

    <section id="oops">
        <h2>OH<strong>FUCK</strong>!</h2>
        <p>something that shouldn't have happened... happened.</p>
        <a href="/" target="_self"><h3><a href="/" target="_self">go<strong>HOME</strong><span class="icon" id="homeIcon"></span></a></h3></a>
    </section>

  </main>

  <%- include('components/footer'); %>

</body>

</html>