@import url("https://use.typekit.net/hfb8vxj.css");

@font-face {
  font-family: "Remix Icon";
  src: url("../FONT/remixicon.woff2") format("woff2"),
    url("../FONT/remixicon.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* border: #9a9a9a 1px dotted; */
}

body {
  width: 100vw;
  padding: 1rem 5% 2rem 5%;
  display: flex;
  flex-wrap: wrap;
  background: #efe3f8;
  background-image: linear-gradient(
    #d3b5e9,
    #efe3f8,
    #efe3f8,
    #efe3f8,
    #efe3f8
  );
  background-size: cover;
  background-attachment: fixed;
  font-family: brother-1816, sans-serif;
  font-weight: 300;
  color: #9b6cc4;
  overflow-x: hidden;
}

body > * {
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #24949c;
}

.icon {
  font-family: "Remix Icon";
}

.horizontalSpacer {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  width: fit-content;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #9b6cc4;
  font-size: 1.25rem;
  color: #e5d7f0;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes flash {
  0%,
  25%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#messageText {
  font-size: smaller;
  font-weight: lighter;
}

header {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h1 span {
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h2 span {
  font-weight: 500;
}

nav {
  height: 1.5rem;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#navIcons {
  display: flex;
}

.navIcon {
  transition: all 0.15s;
}

.navIcon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#containerA,
#containerB {
  width: 100%;
  padding-top: 2rem;
}

#containerA {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#pageTitle {
  width: 100%;
  text-align: right;
}

#contentA {
  width: 100%;
}

#containerB {
  display: flex;
  justify-content: center;
}

#statsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#statsTitle {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#statsContent {
  display: flex;
  gap: 1rem;
}

.statsMood {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.statsIcon {
  font-size: 1.5rem;
}

/* 📌 */

.updateDestroy {
  margin-top: 1rem;
}

#deleteMood,
#noMood,
#oops {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#deleteBtns,
#noMoodBtns,
#oopsBtns {
  display: flex;
  gap: 2rem;
  align-self: flex-end;
}

#deleteBtns a,
#noMoodBtns a,
#oopsBtns a {
  margin: 2rem 1rem 0 0;
  display: flex;
  align-items: center;
  font-size: x-large;
  transition: all 0.35s;
}

#deleteBtns a:hover,
#noMoodBtns a:hover,
#oopsBtns a:hover {
  transform: scale(1.3);
}

.btnIcon {
  margin: 0 0.5rem;
}

#noBtn {
  opacity: 0.5;
}

/* 📌📌🚨 */

@media screen and (min-width: 700px) {
  body {
    padding: 1rem 10% 2rem 10%;
  }

  #containerA,
  #containerB {
    width: 50%;
  }

  #pageTitle {
    width: 3rem;
    margin-top: 1rem;
    text-align: left;
  }

  #pageTitle h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  #contentA {
    width: calc(100% - 4rem);
  }

  #containerB {
    justify-content: flex-start;
  }

  #deleteMood {
    margin-top: 1rem;
  }
}
