#moods {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

h3.titleDate {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

.moodContainer {
    width: 100%;
    margin-bottom: 0.5rem;;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 0.5rem;
}

.moodIcon {
    width: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
}

.moodTimestamp {
    width: calc(100% - 5.5rem);
    font-size: 0.75rem;
}

.moodOptions {
    width: 3rem;
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    opacity: 0.5;
}

.moodText {
    width: 100%;
    padding-left: 1.75rem;
    font-family: brother-1816-printed, sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
}

.mood_1 {
    color: #E25B2D !important;
}

.mood_2 {
    color: #CD9F0C !important;
}

.mood_3 {
    color: #A296AD !important;
}

.mood_4 {
    color: #4483DB !important;
}

.mood_5 {
    color: #03C599 !important;
}

.mood_6 {
    color: #EA3BA7 !important;
}

.mood_0 {
    color: #9B6CC4 !important;
}

@media screen and (min-width: 700px) {
    .moodOptions {
        opacity: 0;
    }

    .visible {
        opacity: 0.75 !important;
    }
    
    .updateDeleteIcon {
        transition: all 0.25s;
    }
    
    .updateDeleteIcon:hover {
        transform: scale(1.5);
    }
}