form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input {
    outline: 0;
}

#moodChoice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.label {
    width: 100%;
    font-size: 0.8rem;
}

.moodIcon {
    font-size: 1.5rem;
    transition: all 0.25s;
}

#iconWrapper {
    display: flex;
    flex-wrap: wrap;
}

.custom {
    font-size: 1.25rem;
    color: #24949c88;
}

.custom:hover {
    color: #24949c;
}

#textInput {
    width: 100%;
    background: transparent;
    font-size: 0.75rem;
    font-family: brother-1816, sans-serif;
    color: #24959C;
    border: 0;
    border-bottom: #9B6CC4 1px dashed;
}

#textInput::placeholder {
    color: #24949c88;
}

#dateTime {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#dateTimeLabel {
    align-content: flex-end;
}

.dateTimeInput {
    background: transparent;
    font-family: brother-1816, sans-serif;
    font-size: 1rem;
    color: #24949c;
    border-bottom: #9B6CC4 1px dashed;
}

#addMoodBtn {
    display: flex;
    align-items: center;
    align-self: flex-end;
    background: transparent;
    font-family: brother-1816, sans-serif;
    font-size: 1.75rem;
    color: #9bb3b5d4;
    transition: all 0.25s;
}

#btnIcon {
    margin-left: 0.5rem;
}

.moodIcon:hover {
    transform: scale(1.5);
    cursor: pointer;
}

#addMoodBtn:hover {
    cursor: not-allowed;
}

.btnEnabled:hover {
    transform: scale(1.2);
    cursor: pointer !important;
}

@media screen and (min-width: 700px) {

    form {
        margin-top: 1rem;
    }

}